.container {
  /*   border: 2px dashed rgb(80, 120, 193); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-div {
  /* border: 2px dashed rgb(80, 120, 193); */
  color: rgb(63, 63, 63);
  width: 115rem;
  margin-bottom: 1rem;
}

.grid-container {
  /*     border: 2px dashed rgb(245,245,247); */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-item {
  border: 2px dashed rgb(80, 120, 193);
  margin-inline: 15rem;
}

.grid-text-1 .grid-img {
}
