html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.navLinks{
/*     border: 2px dashed rgb(80, 120, 193); */
    color: black;
    font: inherit;
    font-size: small;
    text-align: center;
    padding: .5rem 0rem .7rem 0rem;
    
}

            .navLinks a{
                color: black;
                text-decoration: none;
                padding: 1rem;
            }

            .navLinks a:hover {
            color: black
            }

            .navLinks a:visited {
                color: black;
            }

.navLinks img{
    height: 1%;
    width: 1%;
}

.mainHeader{
/*     border: 2px dashed rgb(80, 120, 193); */
    margin: 0em 0em 1em 0em;
    font-size: 2rem;
    padding: .8rem;
    border-radius: 10px;
    text-align: center;
    letter-spacing: 0.1rem;
    background-color: rgb(255, 255, 255);
}

.container{
/*     border: 2px dashed rgb(80, 120, 193); */
    margin: .0em 0em 1em 0em;
    font-size: 1.2rem;
    padding: .8rem;
    border-radius: 10px;
    text-decoration: justify;
    line-height: 1.5rem;
    font-weight: light;
    padding: .8rem;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(245,245,247);
}

.rightContainer{
   display: inline-block;
   height: 200px;
}

/* .circle{
    margin: 3rem;
    background-color: blue;
    width: 100px;
    height: 100px;
    border: 2px solid #000;
    outline: 2px solid red;
    offset: 0,25rem;
    border-radius: 10px;
} */

p{
    font-size: 1rem;
}


h1{
    width: 100%;
}

body{
    font-size: 22px;
    background-color: rgb(245,245,247);
    color: rgb(63, 63, 63);
}

.block{
    width: 20vw;
    height: 20vw;
    background-color: aqua;
}
    
table, tr, th, td, caption{
    border: 1px solid rgb(104, 104, 104);
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}