* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
header {
/*   border: 2px dashed rgb(80, 120, 193); */
  margin: 0em 0em 1em 0em;
  padding: 0.8rem;
  border-radius: 10px;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  background-color: rgb(255, 255, 255);
  
}

body {
  background-color: rgb(245, 245, 247);
  color: rgb(63, 63, 63);
/*   border: 2px dashed rgb(80, 120, 193); */
}

footer {
/*   border: 2px dashed rgb(80, 120, 193); */
  text-align: center;
  display: flex;
  align-items: end;
  position: relative;
}

table, tr, th, td, caption {
/*   border: 2px dashed rgb(80, 120, 193); */
  font-family: "Courier New", Courier, monospace;
  border-collapse: collapse;
  padding: 0.5rem;
}

nav {
/*   border: 2px dashed rgb(80, 120, 193); */
  color: black;
  font: inherit;
  font-size: small;
  text-align: center;
  margin: 0.4rem 0rem 0.4rem 0rem;
}

nav div a {
  color: black;
  text-decoration: none;
  padding: 1rem;
}

nav a:hover {
  color: black;
}

nav a:visited {
  color: black;
}

nav img {
  height: .8%;
  width: .8%;
}