

body{
    font-size: 22px;
    background-color: #333;
    color: whitesmoke;
}

footer{
    font-size: 50px;
}
a{
    color: white;
}

a:visited {
    color: white;
}

a:hover, :active{
    color: lightblue;
}

table, tr, th, td, caption{
    border: 1px solid white;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
    
    
}